@model List<ResultAboutDto>
@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/AdminLayout/Index.cshtml";
   int count = 0;
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="content" style="margin-top:100px">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-header">
                  <div class="card-title">Hakkımızda Listesi</div>
               </div>
               <div class="card-body">
                  <div class="card-sub">
                     Tema Bütünlüğü için sadece 1 Adet satır olması gerekmektedir...
                  </div>
                  <table class="table mt-3">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Başlık</th>
                           <th scope="col">Açıklama</th>
                           <th scope="col">Görsel URL</th>
                           <th scope="col" class="d-flex justify-content-center">İşlemler</th>
                        </tr>
                     </thead>
                     <tbody>
                        @foreach (var item in Model)
                        {
                           <tr>
                              <th>
                                 @{
                                    count++;
                                 }
                                 @count
                              </th>

                              <td> @item.Title </td>
                              <td> @item.Description </td>

                              <td>@item.ImageURL</td>

                              <td class="d-flex justify-content-center">

                                 <a href="/About/DeleteAbout/@item.AboutID" class="btn fw-bold" title="Sil">
                                    <i class="fa fa-trash-o" style="font-size:24px"></i>
                                 </a>

                                 <a href="/About/UpdateAbout/@item.AboutID" class="btn fw-bold" title="Düzelt">
                                    <i class="fa fa-pencil" style="font-size:24px"></i>
                                 </a>


                              </td>
                           </tr>
                        }
                     </tbody>
                  </table>
                  <a href="/About/CreateAbout/" class="btn btn-info w-100 fw-bold " style=" letter-spacing:5px">Yeni Hakkında Bilgisi Ekle</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>