@model UpdateAboutDto
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <form method="post">
               <div class="card">
                  <div class="card-header">

                     @* Geri Dön Tuşu *@
                     <div style="margin-bottom: 30px">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <a href="/About/Index/">
                           <i class="fa fa-chevron-left " style="font-size:18px"><span class="mx-3">Geri Dön</span> </i>
                        </a>
                     </div>





                     <div class="card-title">Anasayfa Hakkımızda Güncellemesi</div>
                     <div class="card-sub">
                        Tema Bütünlüğü için sadece 1 Adet satır olması gerekmektedir...
                     </div>
                  </div>

                  <div class="card-body">
                     <input type="hidden" asp-for="AboutID" />
                     <div class="form-group">
                        <label for="email">Başlık Girin : </label>
                        <input type="text" class="form-control" id="email" asp-for="Title">
                     </div>
                     <div class="form-group">
                        <label for="email">Açıklama Girin : </label>
                        <textarea rows="5" type="text" class="form-control" id="email" asp-for="Description">
                           </textarea>
                     </div>
                     <div class="form-group">
                        <label for="email">Görsel için URL : </label>
                        <input type="text" class="form-control" id="email" asp-for="ImageURL">
                     </div>
                     <button class="btn btn-info w-100 fw-bold " style=" letter-spacing:5px"> Güncelle</button>
                     <br /> <br />

                  </div>
               </div>
            </form>

         </div>
      </div>
   </div>
</div>

