@model UpdateTestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <form method="post">
               <input type="hidden" asp-for="TestimonialID" />
               <div class="card">
                  <div class="card-header">

                     @* Geri Dön Tuşu *@
                     <div style="margin-bottom: 30px">
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                        <a href="/Testimonial/Index/">
                           <i class="fa fa-chevron-left " style="font-size:18px"><span class="mx-3">Geri Dön</span> </i>
                        </a>
                     </div>





                     <div class="card-title">Referans Yorum Listesi</div>
                     <div class="card-sub">
                        Müşterilerin yaptığı yorumlar ile ilgili İşlemler :
                     </div>
                  </div>
                  <div class="card-body">

                     <div class="form-group">
                        <label for="email">Müşteri Ad-Soyad Girin : </label>
                        <input type="text" class="form-control" id="email" asp-for="Name">
                     </div>
                     <div class="form-group">
                        <label for="email">Müşteri Ünvanını Girin : </label>
                        <input type="text" class="form-control" id="email" asp-for="Tittle">
                     </div> 
                     <div class="form-group">
                        <label for="email">Müşteri Yorumunu Girin : </label>
                        <input type="text" class="form-control" id="email" asp-for="Comment">
                     </div>
                     <div class="form-group">
                        <label for="email">Müşteri Görsel Yolu Girin : </label>
                        <input type="text" class="form-control" id="email" asp-for="ImageURL">
                     </div>

                   

                     <button class="btn btn-info w-100 fw-bold " style=" letter-spacing:5px"> Güncelle</button>
                     <br /> <br />

                  </div>
               </div>
            </form>

         </div>
      </div>
   </div>
</div>