
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
   <div class="row g-0">
      <div class="col-md-6">
         <div class="video">
            <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
               <span></span>
            </button>
         </div>
      </div>
      <div class="col-md-6 bg-dark d-flex align-items-center">
         <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
            <h5 class="section-title ff-secondary text-start text-primary fw-normal">Rezervasyon</h5>
            <h1 class="text-white mb-4">Online Rezervasyon Yap</h1>
            <form>
               <div class="row g-3">
                  <div class="col-md-6">
                     <div class="form-floating">
                        <input type="text" class="form-control" id="name" placeholder="Ad Soyad">
                        <label for="name">Ad Soyad</label>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-floating">
                        <input type="email" class="form-control" id="email" placeholder="Email Adresiniz">
                        <label for="email">Email Adresiniz</label>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-floating date" id="date3" data-target-input="nearest">
                        <input type="text" class="form-control datetimepicker-input" id="datetime" placeholder="Rezervasyon Tarihi" data-target="#date3" data-toggle="datetimepicker" />
                        <label for="datetime">Rezervasyon Tarihi</label>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="form-floating">
                        <select class="form-select" id="select1">
                           <option value="1">1 Kişi</option>
                           <option value="2">2 Kişi</option>
                           <option value="3">3 Kişi</option>
                           <option value="3">4 Kişi</option>
                           <option value="3">5 Kişi</option>
                           <option value="3">6 Kişi</option>
                           <option value="3">7 Kişi</option>
                           <option value="3">8 Kişi</option>
                           <option value="3">9 Kişi</option>
                        </select>
                        <label for="select1">Kişi Sayısı</label>
                     </div>
                  </div>
                  <div class="col-12">
                     <div class="form-floating">
                        <textarea class="form-control" placeholder="Special Request" id="message" style="height: 100px"></textarea>
                        <label for="message">Mesajınız</label>
                     </div>
                  </div>
                  <div class="col-12">
                     <button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content rounded-0">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Yerel Video</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <!-- 16:9 aspect ratio -->
            <div class="ratio ratio-16x9">
               <!-- iframe yerine video etiketi kullan -->
               <video class="embed-responsive-item" controls>
                  <source src="~/restoran-1.0.0/img/istockphoto-1482265636-640_adpp_is.mp4" type="video/mp4">
                  Tarayıcınız bu videoyu desteklemiyor.
               </video>
            </div>
         </div>
      </div>
   </div>
</div>