
<div class="container-xxl position-relative p-0">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
      <a href="" class="navbar-brand p-0">
         <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restorant</h1>
      @*    <img src="~/restoran-1.0.0/img/about-1.jpg" alt="Logo"> *@
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
         <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
         <div class="navbar-nav ms-auto py-0 pe-4">
            <a href="/UIDefault/Index/" class="nav-item nav-link">Anasayfa</a>
            <a href="/UIAbout/Index/" class="nav-item nav-link">Hakkımızda</a>
            <a href="/UIServices/Index/" class="nav-item nav-link">Hizmetler</a>
            <a href="/UIMenu/Index/" class="nav-item nav-link">Menü</a>
            <div class="nav-item dropdown">
               <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Bilgi</a>
               <div class="dropdown-menu m-0">
                  <a href="/UIBookATable/Index/" class="dropdown-item active">Rezervasyon</a>
                  <a href="#" class="dropdown-item">Ekibimiz</a>
                  <a href="#" class="dropdown-item">Referanslar</a>
                  <a href="/UIContact/Index/" class="dropdown-item">İletişim</a>
               </div>
            </div>
         </div>
         <a href="/UIMenu/Index/" class="btn btn-primary py-2 px-4 mx-4">Sepetim</a>
         <a href="/UIMenu/Index/" class="btn btn-primary py-2 px-4">Sipariş Verin</a>
      </div>
   </nav>
   @* <div class="container-xxl py-5 bg-dark hero-header mb-5">
      <div class="container text-center my-5 pt-5 pb-4">
         <nav aria-label="breadcrumb">
         <img src="~/restoran-1.0.0/img/hamburger1.png" alt="Alternate Text" style="width:300px; height:200px" />
         </nav>
      </div>
   </div> *@
   <div class="container-xxl py-5 bg-dark hero-header mb-5">
      <div class="container my-5 py-5">
         <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
               <h1 class="display-3 text-white animated slideInLeft">Lezzetli<br>Yemeğimizin Tadını Çıkarın</h1>
               <p class="text-white animated slideInLeft mb-4 pb-2">Lezzetin ve kalitenin buluştuğu noktada, restoranımızda her tabakta özen ve tutku var.</p>
               <a href="/UIMenu/Index/" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Sipariş Ver</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
               <img class="img-fluid" src="~/restoran-1.0.0/img/hero.png" alt="">
            </div>
         </div>
      </div>
   </div>
</div>