@model SignalRWebUI.Dtos.CategoryDto.DetailsCategoryDto
@{
    ViewData["Title"] = "DetailsCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div style="padding-top:100px"></div>
<div class="card">
	<div class="card-header">
		@* Geri Dön Tuşu *@
		<div style="margin-bottom: 30px">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
			<a href="/Category/Index/">
				<i class="fa fa-chevron-left " style="font-size:18px"><span class="mx-3">Geri Dön</span> </i>
			</a>
		</div>
		<div class="card-title">Kategori Detayi</div>
	</div>
	<div class="card-body">
	
		<table class="table table-striped mt-3">
			<thead>
				<tr>
					<th scope="col">Kategori ID</th>
					<th scope="col">Kategori Adı</th>
					<th scope="col">Kategori Durumu</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.CategoryID</td>
					<td>@Model.CategoryName</td>
					<td>  @{
							var Durum = Model.CategoryStatus == true ? "Aktif" : "Pasif";
                                 }
                                 @Durum </td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
